name: Frontend CI

on:
  push:
    paths:
      - "frontend/**"

jobs:
  frontend-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install & Build
        run: |
          cd frontend
          npm install
          npm run build
